.item-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  border: 1px solid #bdbdbd;
  border-radius: 180px 180px 30px 30px;
  width: 18.125em;
  height: 33.125em;
}

.item-container:hover {
  box-shadow: -10px 20px 40px -1px rgba(0, 0, 0, 0.2);
}

.pizza-img {
  filter: drop-shadow(-10px 20px 40px rgba(0, 0, 0, 0.16));
  width: 12.5em;
}

.description {
  font-size: 0.875;
  font-weight: 300;
  color: #333333;
  text-align: center;
}

.price {
  color: #05a84b;
  font-size: 1.5rem;
}
