.add-container {
  margin: 1em 0;
  display: flex;
  justify-content: space-between;
}

.input {
  border: none;
  border-radius: 5px;
  padding-left: 1.5em;
  background: #ebeff2;
  width: 15.938rem;
}

.add-btn {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 5.5rem;
  height: 3.063rem;
  background: #20eeb0;
  color: #ffffff;
  font-size: 1.5rem;
}

.add-btn:hover {
  border: 2px solid #13c892;
}

.add-btn:disabled {
  cursor: not-allowed;
  border: none;
  opacity: 0.5;
}
